#root {
  position: relative;
  min-height: 100%;
}

.vh-100-c {
  height: calc(100vh - 60px) !important;
}

a {
  text-decoration: none !important;
}

a:hover, /* OPTIONAL*/
a:visited,
a:focus {
  text-decoration: none !important;
}

h2,
.h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px !important;
  font-weight: 900 !important;
}

@media screen and (min-width: 1200px){
  .scrollable {
    max-height: calc(100vh - 101px);
    overflow-y: scroll;
  }
}

.btn svg {
  margin-bottom: 4px;
}

.aggregates {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 900 !important;
  color: #9f9f9f;
  margin-top: -15px;
}

.list-group-item {
  margin-bottom: 3px !important;
}

.list-group-item.active {
  border-width: 2px !important;
  margin-top: 0 !important;
}

.list-group-item {
  border-width: 2px !important;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.list-component .btn-outline-primary {
  border-width: 2px;
}

.list-component .btn-outline-primary svg {
  margin-bottom: 0;
}

.list-group-numbered > li::before {
  position: absolute;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dashboard-container {
  background-color: #f2f2f2;
  min-height: calc(100vh - 76px);
}

.left-column {
  height: calc(100vh - 92px);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .left-column {
    height: auto;
  }
}

.websites-list-container {
  padding: 24px;
  margin-bottom: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 230px);
}

.search-bar-container {
  padding: 24px;
  margin-bottom: 16px;
}

.tabs-container {
  position: relative;
}