#root {
  position: relative;
  min-height: 100vh;
}
.vh-100-c {
  height: calc(100vh - 76px) !important;
}
a {
  text-decoration: none !important;
}

a:hover, /* OPTIONAL*/
a:visited,
a:focus {
  text-decoration: none !important;
}

h2, .h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px !important;
  font-weight: 900 !important;
}

.list-group-item.active {
  color: #212529 !important;
  background-color: transparent !important;
  border-color: #0d6efd !important;
  border-width: 1px !important;
}
.btn svg {
  margin-bottom: 4px;
}
.aggregates {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 900 !important;
  color: #9f9f9f;
}
